<mat-card>
  <h2 class="text-center">Login</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Senha" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Entrar</button>
    <button mat-raised-button color="primary" [routerLink]="['/create-account']">Cadastrar</button>
  </form>
</mat-card>